@import './colours.scss';
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@800&display=swap');

body {
     margin: 0;
}

h1,h2,h3 {
     font-family: "Kanit", sans-serif; 
}

p {
     font-family: "Verdana", sans-serif;
}

.intro {
     header {
          text-align: center;
          padding-top: 200px;
          background-color: $black;
          padding-bottom: 40px;
          background-image: url("img/speaker.svg"), url("img/speaker.svg");
          background-repeat: no-repeat, no-repeat;
          background-position: 15% 25%, 85% 25%;
          background-size: 100px;
     }
     h1 {
          color: $yellow;
          font-size: 10vw;
          margin-bottom: 0;
     }
     h2 {
          color: $yellow;
          font-size: 5vw;
          margin-top: 0;
          margin-bottom: 0;
     }
     .summary {
          text-align: center;
          background-color: $black;
          padding-bottom: 150px;
          p {
               margin: 0;
               padding-left: 15px;
               padding-right: 15px;
               padding-bottom: 20px;
               color: $yellow; 
          }
          a {
               text-decoration: none;
               color: $black;
               background-color: $yellow;
               padding-top: 5px;
               padding-left: 15px;
               padding-right: 40px;
               padding-bottom: 5px;
               border-radius: 20px;
               background-image: url("img/download.svg");
               background-repeat: no-repeat;
               background-position: 85% 50%;
          }
     }
     .preamble {
          background-color: $green;
          padding-top: 50px;
          background-image: url("img/headsets.svg");
          h3 {
               color: $white;
               font-size: 5vw;
               margin: 0;
               padding-bottom: 1em;
               padding-top: 1em;
               padding-left: 15px;
               padding-right: 15px;
               background-color: rgba($color: #000000, $alpha: 0.5);
          }
          p {
               color: $white;
               margin: 0;
               padding-left: 15px;
               padding-right: 15px;
               background-color: rgba($color: #000000, $alpha: 0.5);
          }
          p:last-child {
               padding-bottom: 1em;
          }
     }
}
.main {
     .explanation {
          background-color: $green;
          padding-bottom: 50px;
          padding-top: 50px;
          background-image: url("img/headsets.svg");
          h3 {
               color: $white;
               font-size: 5vw;
               margin: 0;
               padding-bottom: 1em;
               padding-top: 1em;
               padding-left: 15px;
               padding-right: 15px;
               background-color: rgba($color: #000000, $alpha: 0.5);
          }
          p {
               color: $white;
               margin: 0;
               padding-left: 15px;
               padding-right: 15px;
               background-color: rgba($color: #000000, $alpha: 0.5);
          }
          p:last-child {
               padding-bottom: 1em;
          }
     }
}

@media(min-width: 700px){
     .intro {
          header {
               text-align: center;
               padding-top: 200px;
               background-color: $black;
               padding-bottom: 40px;
               background-image: url("img/speaker.svg"), url("img/speaker.svg");
               background-repeat: no-repeat, no-repeat;
               background-position: 15% 80%, 85% 80%;
               background-size: 12%;
          }
          h1 {
               font-size: 5vw;
               margin-top: 0;
          }
          h2 {
               font-size: 2.3vw;
          }
          .summary {
               padding-top: 30px;
               padding-bottom: 200px;
               p {
                    line-height: 30px;
                    margin: 0;
                    padding-left: 30%;
                    padding-right: 30%;
                    padding-bottom: 20px;
               }
          }
          .preamble{
               padding-left: 50px;
               padding-right: 40%;
               background-size: contain;
               h3 {
                    font-size: 2vw;
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-bottom: 0.5em;
                    padding-top: 0.5em;
               }
               p {
                    padding-left: 30px;
                    padding-right: 30px;
               }
          }
     }
     .main {
          .explanation {
               padding-left: 40%;
               padding-right: 50px;
               background-size: contain;
               h3 {
                    font-size: 2vw;
                    text-align: right; 
                    padding-left: 30px;
                    padding-right: 30px;
                    padding-bottom: 0.5em;
                    padding-top: 0.5em;
               }
               p {
                    text-align: right;
                    padding-left: 30px;
                    padding-right: 30px;
               }
          }
     }
      
}

